.venv
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.pytype/
.pyre/
__pypackages__/
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/

# Application config
.env
.env.*

# Logs and databases
*.log
*.sqlite3
*.db
*.sqlite

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache/
coverage.xml
nosetests.xml

# PyInstaller
*.manifest
*.spec

# Pyre
.pyre/
